@import './base.css';

#app {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /*display: flex;*/
    /*place-items: center;*/
  }

  #app {
    display: grid;
    grid-template-rows: 70px auto 100px; /* Updated: Define three rows */
    grid-template-columns: 1fr; /* Updated: Remove the second column */
    height: 100vh; /* Updated: Set the app div to occupy the full viewport height */
    overflow: hidden;
  }

  #app > div {
    border: 1px solid white; /* Added: Just for visualization purposes */
  }

  .nav {
    grid-row: 1; /* Position the navigation div in the first row */
  }

  .content {
    grid-row: 2; /* Fill the remaining space in the second row */
  }

  .footer {
    grid-row: 3; /* Position the footer div in the third row */
  }

}
